openapi: 3.1.0
info:
  title: Atlas Averbadora API
  version: 1.0.0
  description: |
    REST API for Atlas Averbadora — digital averbação platform connecting
    servidores, bancos and a central averbadora. JSON over HTTPS, UTF-8,
    ISO-8601 dates, currency in BRL with 2 decimals.

    Authentication: JWT Bearer (15 min access + 30 day rotating refresh)
    for end-users; OAuth2 client_credentials + optional mTLS for banco-to-API.

    Rate limit: 600 req/min per token, burst 100 in 10s.
  contact:
    name: Atlas Averbadora
    email: dev@atlas.io

servers:
  - url: https://api.atlas.io
    description: Production
  - url: https://api.sandbox.atlas.io
    description: Sandbox
  - url: http://localhost:8787
    description: Local dev (wrangler)

tags:
  - name: auth
  - name: servidores
  - name: propostas
  - name: contratos
  - name: portabilidade
  - name: bancos
  - name: prefeituras
  - name: webhooks
  - name: callbacks
  - name: admin

security:
  - bearerAuth: []

paths:
  /healthz:
    get:
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }

  /readyz:
    get:
      summary: Readiness probe (DB + KV reachable)
      security: []
      responses:
        "200": { description: Ready }
        "503": { description: Not ready }

  # ============ AUTH ============
  /v1/auth/login:
    post:
      tags: [auth]
      summary: Login (servidor com CPF, banco/averbadora com email)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier: { type: string, description: "CPF (servidor) or email (banco/averbadora)" }
                password: { type: string, minLength: 6 }
                device_id: { type: string, description: "Stable mobile device id" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthSuccess" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/refresh:
    post:
      tags: [auth]
      summary: Refresh JWT (rotates refresh token)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthSuccess" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/auth/logout:
    post:
      tags: [auth]
      summary: Revoke refresh token on this device
      responses:
        "204": { description: No Content }

  # ============ SERVIDORES ============
  /v1/servidores/me:
    get:
      tags: [servidores]
      summary: Get authenticated servidor profile
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Servidor" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/servidores/me/margem-consignavel:
    get:
      tags: [servidores]
      summary: Authenticated servidor's margem
      parameters:
        - in: query
          name: force_refresh
          schema: { type: boolean, default: false }
        - in: query
          name: include
          schema: { type: string, description: "csv: contratos,historico" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MargemResponse" }
        "422":
          description: Folha indisponivel
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/servidores/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: integer }
    get:
      tags: [servidores, admin]
      summary: Get servidor by id (averbadora only)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Servidor" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/servidores:
    get:
      tags: [servidores, admin]
      summary: List servidores (averbadora only)
      parameters:
        - in: query
          name: prefeitura_id
          schema: { type: integer }
        - in: query
          name: status
          schema: { type: string, enum: [ativo, bloqueado, arquivado] }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Servidor" }
                  meta: { $ref: "#/components/schemas/Pagination" }

  # ============ PROPOSTAS ============
  /v1/propostas/simular:
    post:
      tags: [propostas]
      summary: Fan-out simulation across eligible bancos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [valor, parcelas]
              properties:
                servidor_id: { type: integer, description: "Inferred from JWT if servidor role" }
                valor: { type: number, minimum: 500 }
                parcelas: { type: integer, minimum: 12, maximum: 96 }
                bancos:
                  type: array
                  items: { type: integer }
                  description: Optional restriction
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ofertas:
                    type: array
                    items: { $ref: "#/components/schemas/Oferta" }
                  _meta: { $ref: "#/components/schemas/Meta" }

  /v1/propostas:
    post:
      tags: [propostas]
      summary: Create proposta from accepted simulation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [oferta_id]
              properties:
                oferta_id: { type: string }
                aceite_servidor: { type: boolean, default: true }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Proposta" }

  /v1/propostas/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [propostas]
      summary: Get proposta details
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Proposta" }

  /v1/propostas/portabilidade:
    post:
      tags: [portabilidade]
      summary: Start portability flow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contrato_origem_id, banco_destino_id]
              properties:
                contrato_origem_id: { type: string }
                banco_destino_id: { type: integer }
                nova_parcela: { type: number }
      responses:
        "202":
          description: Accepted (async workflow)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Portabilidade" }

  # ============ BANCOS ============
  /v1/bancos:
    get:
      tags: [bancos]
      summary: List active bancos for the authenticated user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Banco" }

  # ============ PREFEITURAS ============
  /v1/prefeituras:
    get:
      tags: [prefeituras]
      summary: List prefeituras (with last sync status)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Prefeitura" }

  /v1/prefeituras/{id}/sync:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: integer }
    post:
      tags: [prefeituras, admin]
      summary: Trigger manual folha sync (averbadora only)
      responses:
        "202": { description: Accepted }

  # ============ WEBHOOKS ============
  /v1/webhooks:
    post:
      tags: [webhooks]
      summary: Register a webhook endpoint (banco)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, eventos, secret]
              properties:
                url: { type: string, format: uri }
                eventos:
                  type: array
                  items:
                    type: string
                    enum: [proposta.criada, proposta.aprovada, proposta.contratada, proposta.averbada, portabilidade.concluida]
                secret: { type: string, minLength: 32 }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Webhook" }

  /v1/webhooks/eventos:
    get:
      tags: [webhooks]
      summary: List dispatched events (with retry status)
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, delivered, failed, dead] }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookEvent" }
                  meta: { $ref: "#/components/schemas/Pagination" }

  # ============ CALLBACKS (from bancos) ============
  /v1/callbacks/bancos/{banco_id}:
    parameters:
      - in: path
        name: banco_id
        required: true
        schema: { type: integer }
    post:
      tags: [callbacks]
      summary: Incoming bank callback (HMAC signed)
      security: []
      parameters:
        - in: header
          name: X-Atlas-Signature
          required: true
          schema: { type: string }
        - in: header
          name: X-Atlas-Event
          required: true
          schema: { type: string }
        - in: header
          name: X-Atlas-Idempotency
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: Accepted }
        "400": { description: Bad signature or unknown event }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Invalid or expired token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Authenticated but not authorized for this resource
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Too many requests
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    AuthSuccess:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, description: "Seconds until access expires" }
        role: { type: string, enum: [servidor, banco, averbadora] }
        user: { $ref: "#/components/schemas/User" }

    User:
      type: object
      properties:
        id: { type: integer }
        nome: { type: string }
        role: { type: string, enum: [servidor, banco, averbadora] }
        avatar_url: { type: string, format: uri, nullable: true }

    Servidor:
      type: object
      properties:
        id: { type: integer }
        nome: { type: string }
        cpf_masked: { type: string, example: "***.***.***-88" }
        matricula: { type: string, example: "M-009821" }
        prefeitura_id: { type: integer }
        vinculo: { type: string, example: "ESTATUTARIO" }
        situacao_funcional: { type: string, example: "ATIVO" }
        status: { type: string, enum: [ativo, bloqueado, arquivado] }

    Margem:
      type: object
      properties:
        salario_base: { type: number }
        comprometido: { type: number }
        disponivel: { type: number }
        percentual_uso: { type: number, description: "0..1" }

    MargemResponse:
      type: object
      properties:
        servidor_id: { type: integer }
        matricula: { type: string }
        prefeitura_id: { type: integer }
        margem: { $ref: "#/components/schemas/Margem" }
        margens_por_tipo:
          type: array
          items:
            type: object
            properties:
              tipo: { type: string, enum: [EMPRESTIMO, CARTAO_CONSIGNADO, CARTAO_BENEFICIOS] }
              disponivel: { type: number }
              total: { type: number }
        fonte:
          type: object
          properties:
            tipo: { type: string, example: "folha_prefeitura" }
            sincronizado_em: { type: string, format: date-time }
            cache_status: { type: string, enum: [HIT, MISS, STALE] }
        contratos:
          type: array
          items: { $ref: "#/components/schemas/Contrato" }
        _meta: { $ref: "#/components/schemas/Meta" }

    Oferta:
      type: object
      properties:
        id: { type: string }
        banco_id: { type: integer }
        banco_nome: { type: string }
        valor_solicitado: { type: number }
        valor_liberado: { type: number }
        parcelas: { type: integer }
        valor_parcela: { type: number }
        taxa_am: { type: number }
        cet_am: { type: number }
        cet_aa: { type: number }
        iof: { type: number }
        prazo_liberacao_dias: { type: integer }
        ranking: { type: integer, description: "1 = melhor por CET" }
        expira_em: { type: string, format: date-time }

    Proposta:
      type: object
      properties:
        id: { type: string }
        servidor_id: { type: integer }
        banco_id: { type: integer }
        valor: { type: number }
        parcelas: { type: integer }
        taxa_am: { type: number }
        cet_am: { type: number }
        status:
          type: string
          enum: [simulada, criada, em_analise, aprovada, rejeitada, contratada, averbada, ativa, quitada, cancelada]
        adf: { type: string, nullable: true, description: "Bank-issued contract id (after contratada)" }
        criada_em: { type: string, format: date-time }
        atualizada_em: { type: string, format: date-time }

    Contrato:
      type: object
      properties:
        id: { type: string }
        proposta_id: { type: string }
        banco_id: { type: integer }
        valor_financiado: { type: number }
        valor_liquido: { type: number }
        parcela: { type: number }
        parcelas_total: { type: integer }
        parcelas_pagas: { type: integer }
        taxa_am: { type: number }
        cet_am: { type: number }
        saldo_devedor: { type: number }
        status: { type: string, enum: [pendente, averbado, em_dia, inadimplente, quitado, cancelado] }
        primeiro_desconto: { type: string, format: date }
        ultimo_desconto: { type: string, format: date }

    Portabilidade:
      type: object
      properties:
        id: { type: string }
        contrato_origem_id: { type: string }
        banco_origem_id: { type: integer }
        banco_destino_id: { type: integer }
        saldo_devedor: { type: number }
        nova_parcela: { type: number }
        status:
          type: string
          enum: [solicitada, analise_origem, analise_destino, aprovada, executada, concluida, falhada]
        criada_em: { type: string, format: date-time }

    Banco:
      type: object
      properties:
        id: { type: integer }
        nome: { type: string }
        logo_url: { type: string, format: uri, nullable: true }
        status: { type: string, enum: [ativo, pausado, inativo] }
        produtos:
          type: array
          items:
            type: object
            properties:
              tipo: { type: string, enum: [EMPRESTIMO, REFIN, PORTABILIDADE, CARTAO_CONSIGNADO] }
              taxa_min_am: { type: number }
              taxa_max_am: { type: number }
              prazo_min: { type: integer }
              prazo_max: { type: integer }

    Prefeitura:
      type: object
      properties:
        id: { type: integer }
        nome: { type: string }
        uf: { type: string }
        municipio_ibge: { type: integer }
        servidores_count: { type: integer }
        modo_integracao: { type: string, enum: [REST, SOAP, CSV, MANUAL] }
        ultima_sincronizacao: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [ativo, pausado] }

    Webhook:
      type: object
      properties:
        id: { type: string }
        url: { type: string, format: uri }
        eventos: { type: array, items: { type: string } }
        ativo: { type: boolean }
        criado_em: { type: string, format: date-time }

    WebhookEvent:
      type: object
      properties:
        id: { type: string }
        webhook_id: { type: string }
        evento: { type: string }
        status: { type: string, enum: [pending, delivered, failed, dead] }
        tentativas: { type: integer }
        proxima_tentativa: { type: string, format: date-time, nullable: true }
        ultimo_erro: { type: string, nullable: true }
        payload_hash: { type: string }
        criado_em: { type: string, format: date-time }

    Pagination:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        has_more: { type: boolean }
        limit: { type: integer }

    Meta:
      type: object
      properties:
        trace_id: { type: string }
        duracao_ms: { type: integer }

    Error:
      type: object
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string, example: "unauthorized" }
            message: { type: string }
            details: { type: object, additionalProperties: true }
